# Logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Dependecy directories
node_modules
client/node_modules
server/node_modules

# Private keys
server/config.env

# testing
client/coverage

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local